engine-strict=true
resolution-mode=highest
registry=https://tylertech.jfrog.io/artifactory/api/npm/npm/
email=${ARTIFACTORY_USERNAME}
always-auth=true
//tylertech.jfrog.io/artifactory/api/npm/npm/:_auth=${ARTIFACTORY_TOKEN}
